{ 
	"token": "APP-BOT-TOKEN-HERE",
	"botID": "APP-BOT-USER-ID",
	"ownerID": "YOUR-PERSONAL-USER-ID",
	"serverID": "YOUR-SERVER-ID",
	"cmdPrefix": "!",
	"adminRoleName": "ADMIN-ROLE-NAME",
	"modRoleName": "MODERATOR-ROLE-NAME",
	"mapMain": { 
		"enabled": "no", 
		"url": "MAP-URL-LINK"
	},
	"paypal": { 
		"enabled": "no", 
		"url": "PAYPAL-URL-LINK",
		"img": "https://raw.githubusercontent.com/Kneckter/RoleDiscordBot/master/paypal_icon.jpg"
	},
    "donations": {
        "enabled": "no",
        "server": "127.0.0.1",
        "port": "9500",
        "client_ID": "Client ID from PayPal",
        "client_secret": "Client Secret from PayPal",
        "merchant_id": "Merchant from PayPal",
        "forcePaymentStatus": "no"
    },
    "db": {
        "host": "127.0.0.1",
        "port": 3306,
        "username": "username",
        "password": "password",
        "database": "discord_role_bot"
    },
	"mainChannelID": "MAIN-CHAT-CHANNEL-ID",
    "clearAtMidnight": [
        "CHANNEL-ID-1",
        "CHANNEL-ID-2"
    ],
    "clearEveryHourButSkip6am": [],
    "clearEvery5min": [],
    "clearWeeklyOnThursday630": [],
    "clearMonthlyAtMidnightDay1": [],
    "restoreRoleOnJoin": "no",
    "blockManualRoles": "no",
    "blockTheseRoles": [
        "ROLE-ID-1",
        "Leave the array empty to block all manual role changes"
    ],
	"daysNotice": 5
}
