{ 
	"token": "APP-BOT-TOKEN-HERE",
	"botID": "APP-BOT-USER-ID",
	"ownerID": "YOUR-PERSONAL-USER-ID",
	"serverName": "YOUR-SERVER-NAME",
	"serverID": "YOUR-SERVER-ID",
	
	"cmdPrefix": "!",
	
	"adminRoleName": "ADMIN-ROLE-NAME",
	"modRoleName": "MODERATOR-ROLE-NAME",
	
	"mapMain": { 
		"enabled": "no", 
		"url": "MAP-URL-LINK"
	},
		
	"paypal": { 
		"enabled": "no", 
		"url": "PAYPAL-URL-LINK",
		"img": "https://raw.githubusercontent.com/JennerPalacios/SimpleDiscordBot/master/img/paypal_icon.jpg"
	},
	
	"mainChannelID": "MAIN-CHAT-CHANNEL-ID",
	"botsupportChannelID": "BOT-CHANNEL-ID"
}

